article.content
    form.contact-form(method="POST", autocomplete="on") 
        p.
            If you have an opportunity to share,
            or would like to discuss anything, you
            can send me a message!
        input(type="text",  name='name' ,placeholder='Full name', value=name?name:"") 
        input(type="email", name='email', placeholder='Email', value=email?email:"") 
        input(type="text",  name='subject', placeholder="Subject (optional)", value=subject?subject:"")
        textarea(placeholder="Your message", name="message" cols="30" rows="6")
            |#{undefined==message ? '' : message}
        if errors
            ul.err
                for error in errors
                    li!= error.msg  
        button(type='submit', id="send_mail") Send